.exp {
    &__skills {
        @include flex-column;

        &-title {
            @include title-center(0);
        }

        &-chart-list {
            @include flex-column;

            &-item {
                @include flex-row-justify-space(center);

                @media (max-width:1366px) {
                    @include flex-column;
                }

            }
        }

        &-chart {
            @include flex-column;
            text-align: center;
            justify-content: center;
            align-items: center;

            &-title {
                font-size: 20px !important;
                font-weight: 400 !important;
                opacity: .6 !important;
            }

            &-element {
                width: min(650px, 70vw);
                height: min(650px, 60vw);
            }

            @media (max-width:1366px) {}
        }

        &-technology {
            display: block;
            width: max(270px, 60vw);
            margin: 0 auto 130px auto;
            text-align: center;

            &-title {
                font-size: 20px !important;
            }

            &-favorite-list {
                margin-bottom: 20px;

                &-item {
                    display: inline-flex;
                    width: max(180px, 14vw);
                    padding: 5px;
                    margin: 2px 0;
                    @include border;
                    font-size: max(24px, 1.5vw);
                    justify-content: center;
                    align-items: center;

                    @include hover-opacity(.4);

                    &[title] {
                        cursor: help;
                    }

                    img {
                        width: min(60px, 10vw);
                        margin: 0;
                        padding-right: 10px;
                    }
                }
            }

            &-any-list {
                display: block;

                &-item {
                    display: inline-flex;
                    width: max(130px, 8vw);
                    padding: 5px;
                    margin: 2px 0;
                    @include border;
                    font-size: max(16px, 1vw);
                    justify-content: center;

                    &[title] {
                        cursor: help;
                    }

                    @include hover-opacity(.4);

                    img {
                        width: min(40px, 10vw);
                        margin: 0;
                        padding-right: 10px;
                    }
                }
            }
        }
    }

    &__practice {
        @include flex-column;
        text-align: center;

        h1 {
            @include title-center;
        }

        &-works-list-item:not(:first-child) {
            margin-top: 100px;
        }

        &-place {
            @include flex-column;

            &-date {
                font-size: 18px;
            }

            &-achievements {
                text-align: left;
                margin: 20px auto 0 auto;
                list-style-type: square;
            }

            &-photo {
                margin: 20px auto 0 auto;
                width: max(275px, 50%);
            }
        }
    }

}