.exp {
    &__skills {
        @include flex-column;

        &-title {
            @include title-center(0);
        }

        &-chart-list {
            @include flex-column;

            &-item {
                @include flex-row-justify-space(center);
                width: 100%;

                @media (max-width:1366px) {
                    @include flex-column;
                }
            }
        }

        &-chart {
            @include flex-column;
            text-align: center;
            justify-content: center;
            align-items: center;
            

            &-title {
                font-size: 20px !important;
                font-weight: 400 !important;
                opacity: .6 !important;
            }

            &-element {
                width: 40vw;
                height: min(650px, 40vw);
            }

            @media (max-width:1366px) {}
        }

        &-any {
            display: block;
            width: max(270px, 40vw);
            margin: 130px auto 0 auto;
            text-align: center;

            &-title {
                font-size: 20px !important;
            }

            &-list {
                display: block;

                &-item {
                    display: inline-flex;
                    width: max(130px, 8vw);
                    padding: 5px;
                    margin: 2px 0;
                    @include border;
                    font-size: max(16px, 1vw);
                    justify-content: center;

                    &[title] {
                        cursor: help;
                    }

                    &:hover {
                        opacity: .1;
                        transition: opacity $_transition-duration;
                    }

                    img {
                        width: min(40px, 10vw);
                        margin: 0;
                        padding-right: 10px;
                    }
                }
            }
        }
    }

    &__practice {
        @include flex-column;
        text-align: center;

        h1 {
            @include title-center;
        }

        &-place {
            @include flex-column;

            &-date {
                font-size: 18px;
            }

            &-achievements {
                text-align: left;
                margin: 20px auto 0 auto;
                list-style-type: square;
            }

            &-photo {
                margin: 20px auto 0 auto;
                max-width: 50%;
            }
        }
    }

}