@font-face {
    font-family: Inter;
    src: url("@fonts/Inter28pt-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url("@fonts/Inter28pt-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url("@fonts/Inter28pt-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Mountainsof-Christmas;
    src: url("@fonts/MountainsofChristmas-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Marck-Script;
    src: url("@fonts/MarckScript-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}