$_color-dark: #000;
$_color-light: #fff;
$_color-dark-gray: #434343;

$_border-radius-img: 10px;

$_font-family-base: "Inter", sans-serif;
$_font-family-logo: "Mountainsof-Christmas", sans-serif;

$_container-width: 1500px;
$_container-padding-x: 200px;

$_transition-duration: .2s;