@import 
    "@styles/fonts",
    "@styles/variables",
    "@styles/mixins",
    "@styles/globals",
    "@styles/resets";

@import 
    "@styles/components//any",
    "@styles/components/about",
    "@styles/components/contact",
    "@styles/components/exp",
    "@styles/components/footer",
    "@styles/components/header",
    "@styles/components/home",
    "@styles/components/imgModal",
    "@styles/components/overlay";