.footer {
    @include flex-column;

    &__line {
        width: max(270px, 40vw);
    }

    &__control {
        @include flex-row-justify-space;
        width: 200px;
    }

    &__copyright-link {
        margin-top: 20px;
    }
}