.header {
    @include flex-row-justify-space;

    &__nav {
        width: auto;

        &-list {
            @include flex-row;
            text-align: center;
        }

        &-link {
            font-weight: 500;
            font-size: 26px;
            color: $_color-dark-gray;
            margin: 0 .65rem;

            border-bottom: 1px solid transparent;
            transition: all $_transition-duration ease;

            &:hover {
                border-bottom: 1px solid $_color-dark-gray
            }

            &--selected {
                border-bottom: 2px solid $_color-dark-gray
            }
        }

        @media (max-width: 720px) {
            display: none;
        }
    }

    &__burger-nav {
        display: none;

        &-button {
            position: relative;
            width: 30px;
            height: 30px;

            &-check-box {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                margin: 0;
                z-index: 2;
                opacity: 0;
                cursor: pointer;

                &:checked~.header__burger-nav-list {
                    visibility: visible;
                    opacity: 1;
                    transition: all 1s;
                }

                &:checked .header__burger-nav {
                    transform: translateX(-81.5%);
                }

                &:hover~.header__burger-nav-button-icon {
                    opacity: .7;
                    transition: opacity $_transition-duration;
                }

                &:checked~.header__burger-nav-button-icon .header__burger-nav-button-icon-line_first {
                    transform: rotate(45deg);
                }

                &:checked~.header__burger-nav-button-icon .header__burger-nav-button-icon-line_second {
                    transform: scaleY(0);
                }

                &:checked~.header__burger-nav-button-icon .header__burger-nav-button-icon-line_last {
                    transform: rotate(-45deg);
                }
            }

            &-icon {
                @include flex-column;
                justify-content: space-between;
                width: 100%;
                z-index: 1;
                position: absolute;
                height: 100%;
                padding: 3px 0;

                &-line {
                    width: 100%;
                    height: 3px;
                    border-radius: 5px;
                    background: $_color-dark-gray;
                }

                &-line_first {
                    transform-origin: 0% 0%;
                    transition: transform .3s ease-in-out;
                }

                &-line_second {
                    transition: transform .1s ease-in-out;
                }

                &-line_last {
                    transform-origin: 0% 100%;
                    transition: transform .3s ease-in-out;
                }
            }
        }

        &-list {
            @include flex-column;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .4s;
            visibility: hidden;
        }

        @media (max-width: 720px) {
            display: block;
        }
    }
}