<main class="contact">
    <section class="contact__write-message-block">
        <form id="contactForm" class="contact__write-message-block-form">
            <h1 class="contact__write-message-block-form-title" translate-key="writeMe">Write me</h1>
            <div class="contact__write-message-block-form-item">
                <label class="contact__write-message-block-form-item-label" for="contactFormNameBox"
                    translate-key="nameForm">name</label>
                <input class="contact__write-message-block-form-item-text-box" type="name" id="contactFormNameBox">
                <span class="contact__write-message-block-form-item-error-box" id="contactFormNameErrorBox">error</span>
            </div>
            <div class="contact__write-message-block-form-item" style="margin-bottom: 35px;">
                <label class="contact__write-message-block-form-item-label" for="contactFormEmailBox"
                    translate-key="emailForm">email</label>
                <input class="contact__write-message-block-form-item-text-box" type="email" id="contactFormEmailBox">
                <span class="contact__write-message-block-form-item-error-box"
                    id="contactFormEmailErrorBox">error</span>
            </div>
            <div class="contact__write-message-block-form-item">
                <label class="contact__write-message-block-form-item-label" for="contactFormMessageBox"
                    translate-key="messageForm">message</label>
                <textarea class="contact__write-message-block-form-item-text-box-area" id="contactFormMessageBox"
                    rows="5"></textarea>
                <span class="contact__write-message-block-form-item-error-box"
                    id="contactFormMessageErrorBox">error</span>
            </div>
            <div class="captcha-block">
                <canvas id="captchaCanvas" class="captcha-block__canvas" width="100" height="20"></canvas>
                <div id="captchaCtrl" class="captcha-block__form">
                    <input id="captchaInput" class="captcha-block__form-input" type="text">
                    <button id="captchaResetBtn" type="button" class="captcha-block__form-reset-btn">
                        <img src="./assets/icons/any/reset.svg">
                    </button>
                </div>
                <button id="captchaSubmitBtn" class="captcha-block__submit-btn" type="button">
                    <svg width="40px" height="40px" viewBox="0 0 1024 1024" class="icon" version="1.1"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M905.92 237.76a32 32 0 0 0-52.48 36.48A416 416 0 1 1 96 512a418.56 418.56 0 0 1 297.28-398.72 32 32 0 1 0-18.24-61.44A480 480 0 1 0 992 512a477.12 477.12 0 0 0-86.08-274.24z"
                            fill="#231815" />
                        <path
                            d="M630.72 113.28A413.76 413.76 0 0 1 768 185.28a32 32 0 0 0 39.68-50.24 476.8 476.8 0 0 0-160-83.2 32 32 0 0 0-18.24 61.44zM489.28 86.72a36.8 36.8 0 0 0 10.56 6.72 30.08 30.08 0 0 0 24.32 0 37.12 37.12 0 0 0 10.56-6.72A32 32 0 0 0 544 64a33.6 33.6 0 0 0-9.28-22.72A32 32 0 0 0 505.6 32a20.8 20.8 0 0 0-5.76 1.92 23.68 23.68 0 0 0-5.76 2.88l-4.8 3.84a32 32 0 0 0-6.72 10.56A32 32 0 0 0 480 64a32 32 0 0 0 2.56 12.16 37.12 37.12 0 0 0 6.72 10.56zM230.08 467.84a36.48 36.48 0 0 0 0 51.84L413.12 704a36.48 36.48 0 0 0 51.84 0l328.96-330.56A36.48 36.48 0 0 0 742.08 320l-303.36 303.36-156.8-155.52a36.8 36.8 0 0 0-51.84 0z"
                            fill="#231815" />
                    </svg>
                </button>
            </div>
            <button class="contact__write-message-block-form-send-button" type="button"
                onclick="sendContactToAdminEmail()" translate-key="btnForm">
                <span class="contact__write-message-block-form-send-button-text">
                    send
                </span>
            </button>
        </form>
        <img id="contactWriteMessageBlockImg" class="contact__write-message-block-image" src="./assets/images/contact/pigeon-img.jpg"
            alt="Image with pigeons" translate-alt-key="pigeonImg" loading="lazy">
    </section>
    <span class="contact__more-links-helper">
        <p class="contact__more-links-helper-text" translate-key="moreLinks">
            take more links
        </p>
        <img class="contact__more-links-helper-icon" src="./assets/icons/any/arrow-down.svg" alt="\/">
    </span>
    <section class="contact__network">
        <ul class="contact__network-list">
            <li class="contact__network-list-item">
                <a class="contact__network-link" href="https://t.me/Fokstal" target="_blank" rel="noopener noreferrer">
                    <img class="contact__network-link-icon" src="./assets/icons/site/telegram.svg" alt="Telegram">
                </a>
            </li>
            <li class="contact__network-list-item">
                <a class="contact__network-link" href="https://instagram.com/fokstal" target="_blank"
                    rel="noopener noreferrer">
                    <img class="contact__network-link-icon" src="./assets/icons/site/instagram.svg" alt="Instagram">
                </a>
            </li>
            <li class="contact__network-list-item">
                <a class="contact__network-link" href="https://github.com/Fokstal" target="_blank"
                    rel="noopener noreferrer">
                    <img class="contact__network-link-icon" src="./assets/icons/site/github.svg" alt="GitHub">
                </a>
            </li>
            <li class="contact__network-list-item">
                <a class="contact__network-link" href="https://www.linkedin.com/in/fokstal/" target="_blank"
                    rel="noopener noreferrer">
                    <img class="contact__network-link-icon" src="./assets/icons/site/linkedin.svg" alt="LinkedIn">
                </a>
            </li>
        </ul>
    </section>
</main>