<footer>
    <hr width="700">
    <div class="footer-ctrl">
        <a class="share" title="Share link on site">
            <img src="icons/share-one.svg">
        </a>
        <div class="select-box" title="Change language">
            <select onchange="changeLanguage()" id="languageSelect">
                <option value="BY">BY</option>
                <option value="RU">RU</option>
                <option value="EN">EN</option>
            </select>
        </div>
        <a onclick="toggleAccessMode()" title="Accessibility mode toggle">
            <img class="fade" id="accessModeImg" src="icons/eye-closed.svg" width="24">
        </a>
    </div>
    <a href="https://github.com/Fokstal" target="_blank">© 2024 Fokstal</a>
</footer>