<footer>
    <hr class="footer-line">
    <div class="footer-ctrl">
        <button translate-title-key="shareLink" title="Share link on site">
            <img src="icons/any/share-one.svg">
        </button>
        <div class="language-select-box" translate-title-key="changeLanguage" title="Change language">
            <select onchange="changeLanguage()" id="languageSelect">
                <option value="BY">BY</option>
                <option value="RU">RU</option>
                <option value="EN">EN</option>
            </select>
        </div>
        <button onclick="toggleAccessMode()" translate-title-key="accessMode" title="Accessibility mode toggle">
            <img class="fade" id="accessModeImg" src="icons/any/eye-closed.svg" width="24">
        </button>
    </div>
    <a href="https://github.com/Fokstal" target="_blank" rel="noopener noreferrer">© 2024 Fokstal</a>
</footer>
</div>