<footer class="footer">
    <hr class="footer__line">
    <div class="footer__control">
        <button class="share-button" translate-title-key="shareLink" title="Share link on site">
            <img class="share-button-icon" src="icons/any/share-one.svg">
        </button>
        <div class="language-button" translate-title-key="changeLanguage" title="Change language">
            <select class="language-button-select-list" onchange="changeLanguage()">
                <option class="language-button-select-list-item" value="BY">BY</option>
                <option class="language-button-select-list-item" value="RU">RU</option>
                <option class="language-button-select-list-item" value="EN">EN</option>
            </select>
        </div>
        <button class="access-mode-button" onclick="toggleAccessMode()" translate-title-key="accessMode" title="Accessibility mode toggle">
            <img class="access-mode-button-icon fade" src="icons/any/eye-closed.svg">
        </button>
    </div>
    <a class="copyright-link footer__copyright-link" href="https://github.com/Fokstal" target="_blank" rel="noopener noreferrer">
        © <small>2024-2025</small>, Fokstal
    </a>
</footer>
</div>