<main class="home">
    <nav>
        <a class="logo-home" onclick="changePageByLink('home')">f</a>
        <div class="links">
            <a onclick="changePageByLink('exp')">exp</a>
            <a onclick="changePageByLink('about')">about</a>
            <a onclick="changePageByLink('contact')">contact</a>
        </div>
    </nav>
    <span class="hello-text">
        Hello world!<br>
        My name is <strong>Kirill</strong><br>
        and I am a <strong>.Net Developer!</strong><br>
    </span>
</main>