<main class="about">
    <section class="about__personal-info">
        <img id="photo" class="about__personal-info-photo" src="../images/about/my-avatar.jpg" alt="My avatar"
            translate-alt-key="myAvatar" loading="lazy">
        <div class="about__personal-info-text">
            <h1 class="about__personal-info-text-title" translate-key="startTitle">
                I`am Kirill Labut, Hi!
            </h1>
            <p class="about__personal-info-text-content" translate-key="startText">
                Lorem ipsum dolor sit amet
            </p>
        </div>
    </section>
    <section class="about__education-info">
        <div class="about__education-info-text">
            <h1 class="about__education-info-text-title" translate-key="educationTitle">
                Education
            </h1>
            <p class="about__education-info-text-content" translate-key="educationText">
                Lorem ipsum dolor sit amet
            </p>
        </div>
        <img class="about__education-info-photo" id="photo" src="../images/about/college-photo.jpg" alt="College photo"
            translate-alt-key="collegePhoto" loading="lazy">
    </section>
    <section class="about__hobby-info">
        <div class="about__hobby-info-text">
            <h1 class="about__hobby-info-text-title" translate-key="hobbyTitle">
                Hobby
            </h1>
            <div class="about__hobby-info-text-content">
                <span class="about__hobby-info-text-content-ballgame">
                    <div class="about__hobby-info-text-content-ballgame-soccer">
                        <span translate-key="hobbySoccer">
                            i play in soccer
                        </span>
                        <img src="../icons/hobby/football.svg">
                    </div>
                    <div class="about__hobby-info-text-content-ballgame-basketball">
                        <span translate-key="hobbyBasketball">
                            and basketball
                        </span>
                        <img src="../icons/hobby/basketball.svg">
                    </div>
                </span>
                <span class="about__hobby-info-text-content-any-ball" translate-key="hobbyAnyBall">
                    any ball game...
                </span>
                <span class="about__hobby-info-text-content-love-sport">
                    <p class="about__hobby-info-text-content-love-sport-text" translate-key="hobbyLoveSport">
                        i love the <strong>sport!</strong>
                    </p>
                    <img class="about__hobby-info-text-content-love-sport-icon" src="../icons/hobby/runner.svg">
                </span>
                <span class="about__hobby-info-text-content-any">
                    <p translate-key="hobbyAny">
                        I am actively trying to make books and cook delicious
                    </p>
                    <div class="about__hobby-info-text-content-any-icons">
                        <img src="../icons/hobby/book.svg">
                        <img src="../icons/hobby/cookie.svg">
                    </div>
                </span>
            </div>
        </div>
        <div class="about__hobby-info-photos">
            <div class="about__hobby-info-photos-sport">
                <div class="about__hobby-info-photos-sport-football">
                    <img id="photo" src="../images/about/me-and-my-football-team.jpg"
                        alt="Photo with me and my football team" translate-alt-key="meAndFootballTeam" loading="lazy">
                    <span translate-key="hobbyMe">
                        it`s me
                    </span>
                    <!-- arrow -->
                </div>
                <div class="about__hobby-info-photos-ping-pong">
                    <img id="photo" src="../images/about/me-and-friend-in-ping-pong.jpg"
                        alt="Photo of me and my friend playing ping-pong" translate-alt-key="meAndFriendInPingPong"
                        loading="lazy">
                    <span translate-key="hobbyMe">
                        it`s me
                    </span>
                    <!-- arrow -->
                </div>
            </div>
            <div class="about__hobby-info-photos-any">
                <img id="photo" src="../images/about/me-and-girlfriend.jpg" alt="Photo with me and my girlfriend" ,
                    translate-alt-key="meAndMyGirlfriend" loading="lazy">
                <span translate-key="hobbyMe">
                    it`s me
                </span>
                <!-- arrow -->
            </div>
        </div>
    </section>
</main>