.exp {
    h1 {
        text-align: center;
        margin-top: 0px;
    }

    img {
        margin: 30px auto 0 auto;
    }

    .skills {
        display: flex;
        flex-direction: column;

        .chart-box {
            display: flex;
            align-items: top;
            width: 95%;
            justify-content: space-between;

            @media (max-width:1366px) {
                flex-direction: column;
                align-items: center;
            }
        }

        .chart-column {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: end;

            @media (max-width:1366px) {
                align-items: center;
            }
        }

        .chart {
            display: flex;
            width: 30vw;
            flex-direction: column;
            flex: 1;
            align-items: center;
            text-align: center;

            h2 {
                font-size: 14px;
                font-weight: 400;
                opacity: .6;
            }

            @media (max-width:1366px) {
                width: max(300px, 50vw);
            }
        }

        .any-skills {
            display: block;
            width: max(270px, 40vw);
            margin: 130px auto 0 auto;
            text-align: center;

            .and-also {
                font-size: 20px;
                font-weight: 500;
            }

            p {
                display: block;
            }

            .skills-el {
                display: inline-flex;
                width: max(130px, 8vw);
                padding: 5px;
                margin: 2px 0;
                border: 1px #434343 solid;
                border-radius: 5px;
                font-size: max(16px, 1vw);
                justify-content: center;

                &[title] {
                    cursor: help;
                }

                &:hover {
                    opacity: .1;
                    transition: opacity .2s;
                }

                img {
                    width: min(40px, 10vw);
                    margin: 0;
                    padding-right: 10px;
                }
            }
        }
    }

    .practice {
        display: flex;
        flex-direction: column;
        text-align: center;

        h1 {
            margin-top: 100px;
        }

        ul {
            text-align: left;
            margin: 20px auto 0 auto;
        }

        .practice-place {
            display: flex;
            flex-direction: column;

            .date {
                font-size: 18px;
            }

            img {
                margin-top: 20px;
                max-width: 50%;
            }
        }
    }

}