.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo {
        &-link {
            font-family: var(--font-family-logo);
            font-weight: 500;
            transition: font-size .3s ease;
        }

        &-link_home-page-active {
            font-size: 200px;
        }

        &-link_home-page-inactive {
            font-size: 80px;
        }
    }

    &__nav {
        width: auto;

        &-list {
            display: flex;
            flex-direction: row;
            text-align: center;
        }

        &-link {
            font-weight: 500;
            font-size: 26px;
            color: #434343;
            margin: 0 .65rem;

            border-bottom: 1px solid transparent;
            transition: all .2s ease;

            &:hover {
                border-bottom: 1px solid #434343;
            }

            &_selected {
                border-bottom: 2px solid #434343;
            }
        }

        @media (max-width: 720px) {
            display: none;
        }
    }

    &__burger-nav {
        display: none;

        &-button {
            position: relative;
            width: 30px;
            height: 30px;

            &-check-box {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                margin: 0;
                z-index: 2;
                opacity: 0;
                cursor: pointer;

                &:checked~.header__burger-nav-list {
                    visibility: visible;
                    opacity: 1;
                }

                &:checked .header__burger-nav {
                    transform: translateX(-81.5%);
                }

                &:hover~.header__burger-nav-button-icon {
                    opacity: .7;
                    transition: opacity .2s;
                }

                &:checked~.header__burger-nav-button-icon .header__burger-nav-button-icon-line_first {
                    transform: rotate(45deg);
                }

                &:checked~.header__burger-nav-button-icon .header__burger-nav-button-icon-line_second {
                    transform: scaleY(0);
                }

                &:checked~.header__burger-nav-button-icon .header__burger-nav-button-icon-line_last {
                    transform: rotate(-45deg);
                }
            }

            &-icon {
                z-index: 1;
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 3px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-line {
                    width: 100%;
                    height: 3px;
                    border-radius: 5px;
                    background: #434343;
                }

                &-line_first {
                    transform-origin: 0% 0%;
                    transition: transform .3s ease-in-out;
                }

                &-line_second {
                    transition: transform .1s ease-in-out;
                }

                &-line_last {
                    transform-origin: 0% 100%;
                    transition: transform .3s ease-in-out;
                }
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 1s;
            visibility: hidden;
            align-items: center;
        }

        @media (max-width: 720px) {
            display: block;
        }
    }
}