body {
    .container {
        .home {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &__title {
                font-size: max(28px, 4.5vw);
                text-align: left;
                font-weight: 100;
            }

            @media (max-width: 720px) {
                margin-top: 30%;
                text-align: center;
            }
        }
    }
}