body {
    .container {
        .home {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        
            h1 {
                display: block;
                font-size: max(28px, 4.5vw);
                text-align: left;
                font-weight: 100;
            }
        }
    }
}

@media (max-width: 720px) {
    .home .hello-text {
        margin-top: 30%;
        text-align: center;
    }
}