.about .education,
.hobby {
    display: flex;
    flex-direction: column;
}



/* PERSONAL */

.personal {
    display: flex;
    align-items: center;
}

.personal img {
    display: inline-block;
    width: min(550px, 40vw);
    border-radius: 0 10px 0 0;
}

.personal-content {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.personal-content h1 {
    margin-top: 20px;
}



/* EDUCATION */

.education img {
    display: inline-block;
    margin: 20px auto 0 auto;
    width: 60vw;
    border-radius: 10px 0 10px 0;
}

.education-content h1 {
    display: block;
    text-align: center;
    margin-top: 100px;
}



/* HOBBY */

.hobby-content h1 {
    display: block;
    text-align: center;
    margin-top: 100px
}

.hobby-content {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.hobby-content img {
    display: inline-block;
    width: min(50px, 10vw);
}

.hobby-content span {
    display: inline-block;
}

.hobby-content div {
    display: flex;
    justify-content: space-between;
}

.hobby-content .soccer {
    display: inline-block;
    transform: rotate(-5deg);
}

.hobby-content .basketball {
    display: inline-block;
    transform: rotate(3deg);
    text-align: end;
}

.hobby-content .any-ball {
    display: block;
    text-align: center;
    transform: rotate(-1eg);
}

.hobby-content .love-sport {
    display: block;
    margin-top: 100px;
    text-align: center;
    font-size: max(70px, 4.5vw);
}

.hobby-content .love-sport img {
    width: 120px;
}

.hobby-content .any {
    display: block;
    margin-top: 100px;
    text-align: center;
}

.hobby-content .any .any-icons {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
}

.hobby-content .any .any-icons img {
    display: inline-block;
}

.hobby-photos {
    text-align: center;
}

.hobby-photos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.hobby-photos img {
    display: block;
    width: 510px;
}

.hobby-photos .sport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hobby-photos .any {
    margin: 0 auto;
}

@media (max-width: 1420px) {
    .hobby-photos .sport {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 720px) {
    .personal {
        flex-direction: column;
    }
}