.about .education, .hobby {
    display: flex;
    flex-direction: column;
}



/* PERSONAL */

.personal {
    display: flex;
    justify-content: space-between;
}

.personal img {
    display: inline-block;
    width: 50%;
    height: 100%;
    border-radius: 0 20px 0 0;
}

.personal-content {
    display: inline-block;
    width: 100%;
    text-align: center;
}



/* EDUCATION */

.education img {
    display: inline-block;
    margin: 60px auto 0 auto;
    width: 60%;
    border-radius: 20px 0 20px 0;
}

.education-content h1 {
    display: block;
    text-align: center;
    margin-top: 170px;
}



/* HOBBY */

.hobby-content h1 {
    display: block;
    text-align: center;
    margin-top: 170px
}

.hobby-content {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.hobby-content img {
    display: inline-block;
    width: 50px;
}

.hobby-content span {
    display: inline-block;
}

.hobby-content div {
    display: flex;
    justify-content: space-between;
}

.hobby-content .soccer {
    display: inline-block;
    transform: rotate(-5deg);
}

.hobby-content .basketball {
    display: inline-block;
    transform: rotate(3deg);
}

.hobby-content .any-ball {
    display: block;
    text-align: center;
    transform: rotate(-1eg);
}

.hobby-content .love-sport {
    display: block;
    margin-top: 100px;
    text-align: center;
    font-size: 80px;
}

.hobby-content .love-sport img {
    width: 120px;
}

.hobby-content .any {
    display: block;
    margin-top: 100px;
    text-align: center;
}

.hobby-content .any .any-icons img {
    display: inline-block;
    margin: 0 100px;
}

.hobby-photos {
    text-align: center;
}

.hobby-photos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.hobby-photos img {
    display: block;
    width: 510px;
}

.hobby-photos .sport {
    display: flex;
    flex-direction: row;
}

.hobby-photos .sport-1 {
    margin-right: 50%;
}

.hobby-photos .any {
    margin: 0 auto;
}