/* START INFO */

.start-info {
    display: flex;
    justify-content: space-between;
}

.start-info img {
    display: inline-block;
    width: 50%;
    height: 100%;
    border-radius: 0 20px 0 0;
}

.start-info .text-block {
    width: 100%;
    text-align: center;
    margin-left: 160px;
}



/* EDUCATION INFO */

.education-info {
    display: flex;
    flex-direction: column;
}

.education-info img {
    display: inline-block;
    margin: 60px auto 0 auto;
    width: 60%;
    border-radius: 20px 0 20px 0;
}

.education-info .text-block h1 {
    display: block;
    text-align: center;
    margin-top: 170px;
}



/* HOBBY INFO */

.hobby-info {
    display: flex;
    flex-direction: column;
}

.hobby-info .text-block h1 {
    display: block;
    text-align: center;
    margin-top: 170px
}

.hobby-info .text-block {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.hobby-info .text-block img {
    display: inline-block;
    width: 50px;
}

.hobby-info .text-block p {
    display: inline-block;
}

.hobby-info .text-block .soccer-basketball-box {
    display: flex;
    justify-content: space-between;
}

.hobby-info .text-block .soccer {
    display: inline-block;
    transform: rotate(-5deg);
}

.hobby-info .text-block .basketball {
    display: inline-block;
    transform: rotate(3deg);
}

.hobby-info .text-block .any-ball {
    display: block;
    text-align: center;
    transform: rotate(-1eg);
}

.hobby-info .text-block .love-sport {
    display: block;
    margin-top: 100px;
    text-align: center;
    font-size: 80px;
}

.hobby-info .text-block .love-sport img {
    width: 120px;
}

.hobby-info .text-block .any {
    display: block;
    margin-top: 100px;
    text-align: center;
}

.hobby-info .text-block .any .any-icons img {
    display: inline-block;
    margin: 0 100px;
}

.hobby-info .hobby-photos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.hobby-info .hobby-photos img {
    display: block;
    width: 510px;
}

.hobby-info .hobby-photos .sport-photo {
    display: flex;
    flex-direction: row;
}

.hobby-info .hobby-photos .sport-photo-1 {
    margin-right: 50%;
}

.hobby-info .hobby-photos .any-photo {
    margin: 0 auto;
}

.hobby-info .hobby-photos {
    text-align: center;
}