.contact img {
    width: 40vw;
    height: 100%;
    transition: transform 1s;
    transform-origin: center;
}



/* WRITE ME BOX */
.write-me-box {
    display: flex;
    justify-content: space-between;
}

.write-me-box h1 {
    margin: 0;
}

.write-me-box form {
    height: 100%;
    margin-right: 100px;
}

.form-box {
    display: flex;
    width: 25vw;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: end;
}

.form-box label {
    font-size: 20px;
    color: #000;
    opacity: .6;
}

.form-box input {
    width: 100%;
    font-size: 20px;
}

.form-box textarea {
    width: 100%;
    font-size: 20px;
    resize: vertical;
}

form button {
    display: block;
    background-color: #F9EDDF;
    border: none;

    width: 120px;
    height: 40px;
    margin: 0 auto;

    font-size: 18px;
}



/* TAKE MORE TEXT */

.take-more-text {
    display: flex;
    width: 210px;
    margin-left: auto;
    font-size: 20px;
    font-weight: 500;
    margin-top: 120px;
}

.take-more-text img {
    display: block;
    width: 24px;
    margin-left: 15px;
}



/* NETWORK LINK */

.network-links {
    display: flex;
    width: 40vw;
    margin: 5% auto;
}

.network-links a {
    margin: 0 auto;
}

.network-links img {
    display: block;
    width: 60px;
}

@media (max-width: 1366px) {
    .write-me-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .write-me-box form {
        margin-right: 0;
        margin-bottom: 50px;
    }
  }