.exp h1 {
    text-align: center;
    margin-top: 100px;
}

.exp img {
    margin: 30px auto 0 auto;
}

.exp li {
    font-size: max(1.5vw, 26px);
}

.practice,
.skills {
    display: flex;
}

.practice-place {
    display: flex;
    flex-direction: column;
}

.practice-place .date {
    font-size: 18px;
}



/* PRACTICE */

.practice {
    flex-direction: row;
}

.work-list {
    width: 50%;
    padding-right: 2%;
    border-right: 1px #333 solid;
    text-align: left;
}

.course-list {
    width: 50%;
    padding-left: 2%;
    border-left: 1px #333 solid;
    text-align: right;
}

.course-list img {
    margin: 30px auto 0 auto;
}



/* SKILLS */

.skills {
    flex-direction: column;
}

.skills .chart-box {
    display: flex;
}

.chart-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.skills .chart {
    display: flex;
    flex: 1;
    width: 90%;
}

.any-skills {
    display: block;
    width: 60%;
    margin: 130px auto 0 auto;
}

.any-skills .and-also {
    font-size: 20px;
    font-weight: 500;
}

.any-skills span {
    display: block;
    text-align: center;
}