.exp h1 {
    text-align: center;
    margin-top: 0px;
}

.exp img {
    margin: 30px auto 0 auto;
}

.exp li {
    font-size: max(1.5vw, 26px);
}

.practice,
.skills {
    display: flex;
}

.practice-place {
    display: flex;
    flex-direction: column;
}

.practice-place .date {
    font-size: 18px;
}



/* SKILLS */

.skills {
    flex-direction: column;
}

.skills .chart-box {
    display: flex;
    align-items: center;
}

.chart-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.skills .chart {
    display: flex;
    flex: 1;
    margin: 20px 0;
}

.any-skills {
    display: block;
    width: 40vw;
    margin: 130px auto 0 auto;
    text-align: center;
}

.any-skills .and-also {
    font-size: 20px;
    font-weight: 500;
}

.any-skills p {
    display: block;
}

.skills-el {
    display: inline-flex;
    width: auto;
    font-size: 20px;
    padding: 1%;
    border: 1px #434343 solid;
    border-radius: 5px;
    cursor: default;
    align-items: center;
}

.skills-el[title] {
    cursor: help;
}

.skills-el:hover {
    opacity: .1;
    transition: opacity .2s;
}

.skills-el img {
    width: 40px;
    margin: 0;
    padding-right: 5%;
}



/* PRACTICE */

.practice {
    flex-direction: column;
    text-align: center;
}

.work-list h1 {
    margin-top: 100px;
}

.work-list ul {
    margin: 0 auto;
    text-align: left;
}

.course-list h1 {
    margin-top: 100px;
}

.course-list img {
    margin: 30px auto 0 auto;
    width: 40%;
}

@media (max-width:1366px) {
    .skills .chart-box {
        flex-direction: column;
    }

    .skills .chart {
        width: max(300px, 50vw);
    }
}