footer {
    justify-content: center;
    text-align: center;
}

footer .footer-line {
    width: 40vw;
}

footer a {
    font-weight: 200;
    font-size: 20px;
    color: var(--color-dark);
}

.footer-ctrl {
    display: flex;
    justify-content: center;
}

.footer-ctrl button {
    border: none;
    background: none;
}

.language-select-box {
    border: 1px #333 solid;
    border-radius: 2px;
    font-size: 14px;
    margin: 0 20px;
}

.language-select-box select {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}