.home .logo-home {
    position: relative;
}

.home nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home .hello-text {
    display: block;
    margin-left: 400px;
    font-size: 54px;
}